.input {
  justify-content: center
}

div.container {
  width: fit-content;
  /*height: 100px;*/
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

i{
  float:right;
}